* {
	font-family: "JetBrains Mono Nerd Font";	
}

window#waybar {
	background: #000000;
	border: none;
}

.module {
	color: #ffffff;
	background: #000000;
	padding: 0 10px;
}

#workspaces button {
	color: #ffffff;
}

#workspaces button.active {
	color: #00ff00;
}

#workspaces button.urgent {
	color: #ff0000;
}

#network.wifi, #newtwork.ethernet { 
	color: #00ff00;
}

#network.disconnected, #network.linked {
	color: #ff0000;
}
